/* <!--Grid Fullwidth 内容 --> */
.shop-top-select-item{
    display:flex;
    align-items: center;
    border: 1px solid #F1F1F1;
    border-radius: 8px;
}
.line-height-25{
    line-height: 25px;
}
.line-height-28{
    line-height: 28px;
}
.flex-1{
    flex: 1
}
a .icon-color-burlywood{
    color: burlywood !important;
}
.shop-curpo{
    cursor: pointer;
}
.shop-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.clirf:after{
    display: block;
    content: "";
    overflow: hidden;
    clear: both;
    height: 0;
}
/*  <!-- 商品列表 --> */
.shop-img{
    max-width: 100%;
    height: auto;
}
.shop-flex{
    display: flex;
}
.shop-flex-wrap{
    flex-wrap: wrap;
}
.shop-chosen-drop li{
    width: 25%;
    padding: 10px 15px;
}
.shop-chosen-drop li .shop-product-inner:hover{
    border: 1px solid #85B839;
}
.shop-product-inner{
    border: 1px solid #F1F1F1;
    border-radius: 8px;
    padding: 20px;
    overflow: hidden;
    position: relative;
    padding-bottom: 30px;
    background-color: #f8f8f8;
}
.shop-flex-space-between{
    justify-content: space-between
}
.shop-product-headerleft{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    line-height: 16px;
    height: 22px;
    padding: 3px 10px;
    background-color: #85B839;
    color: #fff;
    border-radius: 24px;
}
.shop-product-thumb{
    margin-bottom: 15px;
    position: relative;
    text-align: center;
}
.shop-product-info{
    text-align: center;
    position: relative;
}
.shop-wiew-button{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    color: #222;
    border-radius: 100%;
    z-index: 10;
    font-weight: 400;
    text-align: center;
    visibility: hidden;
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.shop-product-inner:hover .shop-wiew-button{
    background-color: #ffffff;
    visibility: visible;
}
.shop-wiew-button:hover{
    background-color: #85B839 !important;
}
.shop-wiew-button:hover .icon-search{
    color: #fff !important;
}
.shop-wiew-buttonbox{
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    padding: 12px 20px 0 20px;
    text-align: center;
    z-index: 10;
}
.shop-product-inner:hover .shop-wiew-buttonbox{
    bottom: 15px;
    opacity: 1;
    visibility: visible;
}
.shop-wiew-butn{
    display: block;
    border: 1px solid #85B839;
    background-color: #fff;
    color: #333333;
    height: 42px;
    line-height: 38px;
    padding: 0 19px;
    border-radius:20px; 
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
}
.shop-wiew-butn:hover{
    background-color: #85B839;
    color: #fff;
}
/*  <!-- 二商品列表 --> */
.shop-product-item li .shop-product-innerboxs{
    background-color: #f8f8f8;
    border: 1px solid #F1F1F1;
    padding: 30px 20px;
    border-radius: 10px; 
}
.shop-clrsthumb{
    text-align: initial;
    width: 250px;
    margin-bottom:0px; 
}
.shop-posi-relative{
    position: relative;
}
.shop-left{
    left: 10%;
}
.shop-hover-inner{
    padding: 0px 0px;
    border: none;
}
.shop-product-item li .shop-product-innerboxs:hover{
    border: 1px solid #85B839;
    border-radius: 10px; 
}
.shop-wiew-buttonvis{
    position: inherit;
    visibility: inherit;
    opacity: 1;
    padding: 0px 0px;
}
.shop-boder-right{
    border-right: 1px solid #eee;
}
.shop-product-left{
    border-left:1px solid #eee;
}
.shop-product-right-pad{
    padding: 67px 67px 40px 40px; 
}
/* 改变商品列表的宽度 */
.shoprow-chosen-drop li{
    width: 33.3%;
}
/* @media改变样式 */
/* @media (min-width: 1200px){
    .shop-chosen-drop li{
        width: 25%;
    }
} */
/* @media改变样式 */
@media (max-width: 1200px) and (min-width: 925px) {
    .shop-chosen-drop li{
        width: 33.3%;
    }
}
@media (max-width: 924px) and (min-width: 768px){
    .shop-chosen-drop li{
        width: 50%;
    }
}

@media (max-width: 767px){
    .shop-chosen-drop li{
        width: 50%;
    }
    .shop-proDiv-box{
        width: 100% !important;
        top: 0px !important;
        left: 0px !important;
        margin-left:0px !important;
        padding: 30px 20px !important;
        height: 100% !important;
        overflow-y: auto !important;
    }
    .large_box{
        width: 150px !important;
        height: 150px !important;
    }
    .shop-banner,.shop-right-mengc{
        float: inherit !important;
        width: 100% !important;
    }
    .shop-close-btn{
        top: 0px !important;
        right: 0px !important;
    }
    .shop-btommbox{
        padding-bottom :40px;
    }
    /* 弹出宽的轮播图片样式 */
    .small_list{
        width: 348px  !important;
    }
    .large_box{
        width: 349px !important;
    }
    .shop-mengcen-box{
        width: 350px !important;
    }
}
@media (max-width: 480px){
    .shop-chosen-drop li{
        width: 100%;
    }
}